dsl/templates/_base_template_enhanced.yml
# Dify DSL Base Template (Enhanced)
# Version: 0.1.2 (Dify Cloud Compatible)
# 全11ノードタイプのテンプレート

app:
  description: "workflow description"
  icon: "📊"
  icon_background: '#E4FBCC'
  mode: workflow
  name: "workflow name"
kind: app
version: 0.1.2

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''

  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: end
      id: edge-001
      source: '1000000001'
      sourceHandle: source
      target: '1000000002'
      targetHandle: target
      type: custom
      zIndex: 0

    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 90
      id: '1000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1000000001'
          - input_text
          variable: output
        selected: false
        title: End
        type: end
      height: 90
      id: '1000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    viewport:
      x: 0
      y: 0
      zoom: 1

# ==================================================
# REQUIRED FIELDS CHECKLIST
# ==================================================
# Edge:
#   - isInIteration: true/false
#   - isInLoop: false (Qiita required)
#   - zIndex: 0 (1002 inside Iteration)
# LLM Node:
#   - edition_type: basic
#   - structured_output_enabled: false
# Inside Iteration:
#   - isInIteration: true
#   - iteration_id: parent Iteration ID

# ==================================================
# NODE TEMPLATES (11 types)
# ==================================================

# [1] HTTP REQUEST NODE
# - data:
#     authorization: {config: null, type: no-auth}
#     body: {data: '', type: none}
#     desc: 'API call'
#     headers: ''
#     method: get
#     params: ''
#     timeout: {connect: 60, read: 60, write: 60}
#     title: "HTTP Request"
#     type: http-request
#     url: '{{#env.api_url#}}'
#   id: '1000000003'

# [2] LLM NODE (edition_type, structured_output_enabled required)
# - data:
#     context: {enabled: false, variable_selector: []}
#     edition_type: basic
#     model:
#       completion_params: {temperature: 0.3}
#       mode: chat
#       name: claude-3-5-sonnet-20241022
#       provider: anthropic
#     prompt_template:
#     - {id: uuid-sys, role: system, text: 'You are an expert.'}
#     - {id: uuid-user, role: user, text: 'Analyze: {{#1000000003.body#}}'}
#     structured_output_enabled: false
#     title: "LLM"
#     type: llm
#   id: '1000000004'

# [3] IF-ELSE NODE (sourceHandle: 'true' or 'false')
# - data:
#     cases:
#     - case_id: 'true'
#       conditions:
#       - comparison_operator: is-not-empty
#         variable_selector: ['1000000003', 'body']
#       logical_operator: and
#     title: "Condition"
#     type: if-else
#   id: '1000000005'

# [4] CODE NODE (python3/javascript)
# - data:
#     code: 'def main(x): return {"out": x}'
#     code_language: python3
#     outputs: {out: {type: string}}
#     title: "Code"
#     type: code
#   id: '1000000006'

# [5] ITERATION NODE (zIndex: 1)
# - data:
#     error_handle_mode: terminated
#     is_parallel: false
#     iterator_selector: ['1000000006', 'chunks']
#     output_type: array[string]
#     title: "Iteration"
#     type: iteration
#   id: '1000000007'
#   zIndex: 1

# [6] TOOL NODE (builtin/marketplace)
# - data:
#     provider_id: tavily
#     provider_type: builtin
#     tool_name: tavily_search
#     tool_node_version: '2'
#     tool_parameters:
#       query: {type: mixed, value: '{{#1000000001.query#}}'}
#     title: "Tool"
#     type: tool
#   id: '1000000009'

# [7] KNOWLEDGE-RETRIEVAL NODE
# - data:
#     dataset_ids: ['uuid-dataset']
#     query_variable_selector: ['1000000001', 'query']
#     retrieval_mode: multiple
#     title: "Knowledge"
#     type: knowledge-retrieval
#   id: '1000000010'

# [8] QUESTION-CLASSIFIER NODE (sourceHandle: class ID)
# - data:
#     classes:
#     - {id: 'class-pos', name: 'Positive'}
#     - {id: 'class-neg', name: 'Negative'}
#     model: {name: gpt-3.5-turbo, provider: openai}
#     query_variable_selector: ['1000000001', 'input']
#     title: "Classifier"
#     type: question-classifier
#   id: '1000000011'

# [9] TEMPLATE-TRANSFORM NODE (Jinja2)
# - data:
#     template: 'Result: {% for i in items %}{{ i }}{% endfor %}'
#     title: "Template"
#     type: template-transform
#   id: '1000000012'

# [10] ASSIGNER NODE (conversation_variables)
# - data:
#     items:
#     - operation: over-write
#       value: '{{#1000000004.text#}}'
#       variable_selector: [conversation, result]
#     title: "Assigner"
#     type: assigner
#   id: '1000000013'

# ==================================================
# EDGE TEMPLATES
# ==================================================
# Normal: zIndex: 0, isInLoop: false
# Inside Iteration: zIndex: 1002, isInIteration: true, iteration_id: xxx
# IF-ELSE: sourceHandle: 'true' or 'false'
# Classifier: sourceHandle: class ID (e.g. 'class-pos')

# ==================================================
# VARIABLE REFERENCE FORMAT
# ==================================================
# Node var: {{#1000000001.variable#}}
# Env var:  {{#env.api_url#}}
# Conv var: {{#conversation.variable#}}
# FORBIDDEN: {{ node.var }} (no spaces)
