dsl/templates/CustomerReviewAnalysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 'Customer Review Analysis Workflow '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: 1711529033302-1711529036587
      source: '1711529033302'
      sourceHandle: source
      target: '1711529036587'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: http-request
      id: 1711529036587-1711529059204
      source: '1711529036587'
      sourceHandle: '1711529038361'
      target: '1711529059204'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: question-classifier
      id: 1711529036587-1711529066687
      source: '1711529036587'
      sourceHandle: '1711529041725'
      target: '1711529066687'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: http-request
      id: 1711529066687-1711529077513
      source: '1711529066687'
      sourceHandle: '1711529068175'
      target: '1711529077513'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: http-request
      id: 1711529066687-1711529078719
      source: '1711529066687'
      sourceHandle: '1711529068956'
      target: '1711529078719'
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: variable-assigner
      id: 1711529059204-1712580001694
      source: '1711529059204'
      sourceHandle: source
      target: '1712580001694'
      targetHandle: '1711529059204'
      type: custom
    - data:
        sourceType: http-request
        targetType: variable-assigner
      id: 1711529077513-1712580001694
      source: '1711529077513'
      sourceHandle: source
      target: '1712580001694'
      targetHandle: '1711529077513'
      type: custom
    - data:
        sourceType: http-request
        targetType: variable-assigner
      id: 1711529078719-1712580001694
      source: '1711529078719'
      sourceHandle: source
      target: '1712580001694'
      targetHandle: '1711529078719'
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: end
      id: 1712580001694-1712580036103
      source: '1712580001694'
      sourceHandle: source
      target: '1712580036103'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Customer Review
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: review
      dragging: false
      height: 109
      id: '1711529033302'
      position:
        x: 79.5
        y: 2087.5
      positionAbsolute:
        x: 79.5
        y: 2087.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1711529038361'
          name: Positive review
        - id: '1711529041725'
          name: 'Negative review '
        desc: ''
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711529033302'
        - review
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
      dragging: false
      height: 170
      id: '1711529036587'
      position:
        x: 362.5
        y: 2087.5
      positionAbsolute:
        x: 362.5
        y: 2087.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: Send positive feedback to the company's brand marketing department system
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        title: HTTP Request
        type: http-request
        url: https://www.example.com
        variables: []
      height: 182
      id: '1711529059204'
      position:
        x: 645.5
        y: 2087.5
      positionAbsolute:
        x: 645.5
        y: 2087.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1711529068175'
          name: After-sales issues
        - id: '1711529068956'
          name: Transportation issue
        desc: ''
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711529033302'
        - review
        selected: false
        title: Question Classifier 2
        topics: []
        type: question-classifier
      dragging: false
      height: 170
      id: '1711529066687'
      position:
        x: 645.5
        y: 2302.5
      positionAbsolute:
        x: 645.5
        y: 2302.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: Send negative transportation feedback to the transportation department
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        title: HTTP Request 2
        type: http-request
        url: https://www.example.com
        variables: []
      height: 166
      id: '1711529077513'
      position:
        x: 928.5
        y: 2302.5
      positionAbsolute:
        x: 928.5
        y: 2302.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: Send negative transportation feedback to the product experience department
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        title: HTTP Request 3
        type: http-request
        url: https://www.example.com
        variables: []
      height: 166
      id: '1711529078719'
      position:
        x: 928.5
        y: 2467.5
      positionAbsolute:
        x: 928.5
        y: 2467.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        output_type: string
        selected: false
        title: Variable Assigner
        type: variable-assigner
        variables:
        - - '1711529059204'
          - body
        - - '1711529077513'
          - body
        - - '1711529078719'
          - body
      height: 160
      id: '1712580001694'
      position:
        x: 1224.114238372066
        y: 2195.3780740038183
      positionAbsolute:
        x: 1224.114238372066
        y: 2195.3780740038183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Workflow Complete
        outputs:
        - value_selector:
          - '1712580001694'
          - output
          variable: output
        selected: false
        title: End
        type: end
      height: 116
      id: '1712580036103'
      position:
        x: 1524.114238372066
        y: 2195.3780740038183
      positionAbsolute:
        x: 1524.114238372066
        y: 2195.3780740038183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: Dify
        desc: ''
        height: 237
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"This
          workflow utilizes LLM (Large Language Models) to classify customer reviews
          and forward them to the internal system.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Start
          Node","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":2},{"children":[{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Function","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":
          Collect user input for the customer review.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Variable","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":2},{"children":[{"children":[{"children":[{"detail":0,"format":16,"mode":"normal","style":"","text":"review","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":
          Customer review text","type":"text","version":1}],"direction":"ltr","format":"","indent":2,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":3}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":3}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"number","start":2,"tag":"ol"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 384
      height: 237
      id: '1718995253775'
      position:
        x: -58.605136000739776
        y: 2212.481578306511
      positionAbsolute:
        x: -58.605136000739776
        y: 2212.481578306511
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 384
    - data:
        author: Dify
        desc: ''
        height: 486
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"Detailed Process","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"paragraph","version":1,"textFormat":3},{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"User
          Input","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":11},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"User
          inputs the customer review in the start node.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":12},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Initial
          Classification","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":12},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          review is classified as either positive or negative.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":13},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Positive
          Review Handling","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":13},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Positive
          reviews are sent to the brand marketing department.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":14},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Negative
          Review Handling","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":14},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Negative
          reviews are further classified into after-sales or transportation issues.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":15},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"After-sales
          Issues Handling","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":15},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Negative
          after-sales feedback is sent to the after-sales department.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":16},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Transportation
          Issues Handling","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":16},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Negative
          transportation feedback is sent to the transportation department and the
          product experience department.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":17},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Variable
          Assignment","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":17},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Responses
          from HTTP requests are assigned to variables.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":18},{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Workflow
          Completion","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":":","type":"text","version":1}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":18},{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          workflow is marked as complete, and the final output is generated.","type":"text","version":1}],"direction":"ltr","format":"","indent":1,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"start","indent":0,"type":"listitem","version":1,"value":19}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"number","start":11,"tag":"ol"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 640
      height: 486
      id: '1718995287039'
      position:
        x: 489.3997033572796
        y: 2672.3438791911353
      positionAbsolute:
        x: 489.3997033572796
        y: 2672.3438791911353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 640
    - data:
        author: Dify
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Use
          HTTP Request to send feedback to internal systems. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1718995305162'
      position:
        x: 1229.082890943888
        y: 2473.1984056101255
      positionAbsolute:
        x: 1229.082890943888
        y: 2473.1984056101255
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 225.9502094726363
      y: -1422.6675707925049
      zoom: 0.7030036760692414
  rag_pipeline_variables: []
