dsl/generated/data_analysis_chatbot.yml
app:
  description: "工事予算の予実データをGAS APIから取得し、EVM指標を含めてAIが分析回答するチャットボット"
  icon: "\U0001F4CA"
  icon_background: '#E4FBCC'
  mode: chatflow
  name: "工事予算データ分析チャットボット"
kind: app
version: 0.1.2

workflow:
  conversation_variables: []
  environment_variables:
  - name: gas_endpoint_url
    value: ""
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: '工事予算の予実状況やEVM指標についてご質問ください。対象月（例: 2025-12）を指定すると詳細な分析が可能です。'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - "今月のEVM指標を教えてください"
    - "予算超過している費目はありますか？"
    - "コスト削減の余地を分析してください"
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: edge-001
      source: '1000000001'
      sourceHandle: source
      target: '1000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: edge-002
      source: '1000000002'
      sourceHandle: source
      target: '1000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: template-transform
      id: edge-003
      source: '1000000003'
      sourceHandle: source
      target: '1000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: edge-004
      source: '1000000004'
      sourceHandle: source
      target: '1000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-005
      source: '1000000005'
      sourceHandle: source
      target: '1000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: '質問テキストと対象月を入力'
        selected: false
        title: "開始"
        type: start
        variables:
        - label: "質問内容"
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: user_question
        - label: "対象月（例: 2025-12）"
          max_length: 20
          options: []
          required: false
          type: text-input
          variable: target_month
      height: 162
      id: '1000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: 'GAS APIから工事予算サマリを取得（mode=summary）'
        headers: ''
        method: get
        params: "mode:summary\nmonth:{{#1000000001.target_month#}}"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 60
          read: 60
          write: 60
        title: "予実サマリ取得"
        type: http-request
        url: '{{#env.gas_endpoint_url#}}'
        variables: []
      height: 178
      id: '1000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: 'GAS APIからEVM指標を取得（mode=evm）'
        headers: ''
        method: get
        params: "mode:evm\nmonth:{{#1000000001.target_month#}}"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 60
          read: 60
          write: 60
        title: "EVM指標取得"
        type: http-request
        url: '{{#env.gas_endpoint_url#}}'
        variables: []
      height: 178
      id: '1000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: '取得した予実・EVMデータをLLM用コンテキストに整形'
        selected: false
        template: |
          # 工事予算データ（対象月: {{ target_month }}）

          ## 予実サマリ
          {{ summary_data }}

          ## EVM指標
          {{ evm_data }}

          ## ユーザーからの質問
          {{ user_question }}
        title: "データ整形"
        type: template-transform
        variables:
        - value_selector:
          - '1000000002'
          - body
          variable: summary_data
        - value_selector:
          - '1000000003'
          - body
          variable: evm_data
        - value_selector:
          - '1000000001'
          - user_question
          variable: user_question
        - value_selector:
          - '1000000001'
          - target_month
          variable: target_month
      height: 178
      id: '1000000004'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '工事予算データを分析してユーザーの質問に回答'
        edition_type: basic
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: claude-sonnet-4-5-20250929
          provider: anthropic
        prompt_template:
        - id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
          role: system
          text: |
            あなたは建設工事の予算管理と原価管理の専門家です。

            ## 役割
            工事費用の予実データとEVM（アーンドバリュー管理）指標を分析し、
            現場監督や工事担当者の質問に的確に回答してください。

            ## 費目体系（修正済みマスタ）
            共通仮設費（F31-F39）: 運搬費/準備費/仮設費/事業損失防止施設費/安全費/役務費/技術管理費/営繕費/設計費
            現場管理費（F51-F63）: 労務管理費/租税公課/地代/保険料/従業員給料手当/法定福利費/福利厚生費/事務用品費/通信交通費/交際費/補償費/水道光熱費/雑費

            ## 分析観点
            - 予算消化率の評価（100%超: 超過、80%超: 注意、80%以下: 正常）
            - EVM指標（SPI/CPI）による進捗・コスト効率の評価
            - EAC（完成時予測コスト）とVAC（コスト差異）の解釈
            - 費目別の超過・節約傾向の特定と改善提案

            ## 出力形式
            - 簡潔かつ実務的な日本語で回答
            - 数値は金額（円）や率（%）を明確に表示
            - 重要な警告事項は冒頭に記載
            - 必要に応じてMarkdownの見出し・箇条書きを使用

            ## 注意事項
            - データが「サンプルデータ」の場合はその旨を明記
            - 不明な点は推測せず「データが不足」と明示
        - id: 'b2c3d4e5-f6a7-8901-bcde-f12345678901'
          role: user
          text: |
            {{#1000000004.output#}}
        selected: false
        structured_output_enabled: false
        title: "予実分析・回答生成"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 298
      id: '1000000005'
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1000000005'
          - text
          variable: answer
        selected: false
        title: "終了"
        type: end
      height: 90
      id: '1000000006'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
