dsl/exported/Instructional Designer_e9498f03.yml
data: "app:\n  description: Analyzes theme and generates educational structure with learning objectives\n    and story arc.\n\
  \  icon: \uD83E\uDD16\n  icon_background: '#E4FBCC'\n  mode: workflow\n  name: Instructional Designer\n  use_icon_as_answer_icon:\
  \ false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier:\
  \ langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n    version: null\nkind: app\n\
  version: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n  \
  \    allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n  \
  \    allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n  \
  \    enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit:\
  \ 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n\
  \        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n    \
  \    number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n \
  \   opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n\
  \    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled:\
  \ false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n\
  \        isInIteration: false\n        sourceType: start\n        targetType: llm\n      id: 1735300000001-source-1735300000002-target\n\
  \      source: '1735300000001'\n      sourceHandle: source\n      target: '1735300000002'\n      targetHandle: target\n\
  \      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType:\
  \ end\n      id: 1735300000002-source-1735300000003-target\n      source: '1735300000002'\n      sourceHandle: source\n\
  \      target: '1735300000003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n\
  \        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label:\
  \ Theme\n          max_length: 500\n          options: []\n          required: true\n          type: paragraph\n       \
  \   variable: theme\n        - default: construction new employees\n          label: Target Audience\n          max_length:\
  \ 200\n          options: []\n          required: false\n          type: text-input\n          variable: target_audience\n\
  \        - default: 4\n          label: Page Count\n          options: []\n          required: false\n          type: number\n\
  \          variable: page_count\n      height: 160\n      id: '1735300000001'\n      position:\n        x: 80\n        y:\
  \ 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      selected: false\n      sourcePosition: right\n    \
  \  targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n\
  \          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature:\
  \ 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n        prompt_template:\n\
  \        - id: a1b2c3d4-id01-0001-0001-000000000001\n          role: system\n          text: \"You are an instructional\
  \ design expert for educational manga in the\\\n            \\ construction industry.\\n\\nCreate an educational structure\
  \ following\\\n            \\ the Japanese storytelling format:\\n- Ki (Introduction): Setting up the\\\n            \\\
  \ situation\\n- Sho (Development): Developing the learning content\\n- Ten\\\n            \\ (Twist): A challenge or key\
  \ insight\\n- Ketsu (Conclusion): Resolution\\\n            \\ and takeaway\\n\\nOutput MUST be valid JSON with this structure:\\\
  n{\\n\\\n            \\  \\\"learning_objectives\\\": [\\\"objective1\\\", \\\"objective2\\\", \\\"objective3\\\"\\\n  \
  \          ],\\n  \\\"educational_points\\\": [\\n    {\\\"point_number\\\": 1, \\\"content\\\"\\\n            : \\\"description\\\
  \", \\\"category\\\": \\\"ki\\\"}\\n  ],\\n  \\\"story_arc\\\": {\\n \\\n            \\   \\\"ki\\\": \\\"situation setup\
  \ description\\\",\\n    \\\"sho\\\": \\\"development\\\n            \\ description\\\",\\n    \\\"ten\\\": \\\"turning\
  \ point description\\\",\\n    \\\"\\\n            ketsu\\\": \\\"resolution description\\\"\\n  },\\n  \\\"emotional_journey\\\
  \": [\\\"\\\n            emotion1\\\", \\\"emotion2\\\", \\\"emotion3\\\", \\\"emotion4\\\"]\\n}\\n\"\n        - id: a1b2c3d4-id01-0001-0001-000000000002\n\
  \          role: user\n          text: 'Theme: {{#1735300000001.theme#}}\n\n            Target Audience: {{#1735300000001.target_audience#}}\n\
  \n            Page Count: {{#1735300000001.page_count#}}\n\n\n            Create educational design for a {{#1735300000001.page_count#}}-page\
  \ manga.\n\n            Output ONLY valid JSON, no markdown code blocks.\n\n            '\n        selected: true\n    \
  \    title: 'LLM: Educational Designer'\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n\
  \      height: 87\n      id: '1735300000002'\n      position:\n        x: 384\n        y: 282\n      positionAbsolute:\n\
  \        x: 384\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type:\
  \ custom\n      width: 242\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1735300000002'\n\
  \          - text\n          variable: educational_design\n        selected: false\n        title: End\n        type: end\n\
  \      height: 88\n      id: '1735300000003'\n      position:\n        x: 688\n        y: 282\n      positionAbsolute:\n\
  \        x: 688\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width:\
  \ 242\n    viewport:\n      x: 109.05904932942485\n      y: 142.9202105440183\n      zoom: 0.659753955386447\n  rag_pipeline_variables:\
  \ []\n"
