dsl/exported/manga_orchestrator_c0313a71.yml
data: "app:\n  description: ''\n  icon: \uD83E\uDD16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: manga_orchestrator\n\
  \  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier:\
  \ langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n    version: null\nkind: app\n\
  version: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n  \
  \    allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n  \
  \    allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n  \
  \    enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit:\
  \ 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n\
  \        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n    \
  \    number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n \
  \   opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n\
  \    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled:\
  \ false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n\
  \        isInIteration: false\n        isInLoop: false\n        sourceType: tool\n        targetType: code\n      id: 1766276809532-source-1766293340794-target\n\
  \      source: '1766276809532'\n      sourceHandle: source\n      target: '1766293340794'\n      targetHandle: target\n\
  \      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType:\
  \ code\n        targetType: iteration\n      id: 1766293340794--1766299441788-target\n      source: '1766293340794'\n  \
  \    sourceHandle: source\n      target: '1766299441788'\n      targetHandle: target\n      type: custom\n      zIndex:\
  \ 0\n    - data:\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1766299441788'\n        sourceType:\
  \ iteration-start\n        targetType: tool\n      id: 1766299441788start-source-1766299884796-target\n      source: 1766299441788start\n\
  \      sourceHandle: source\n      target: '1766299884796'\n      targetHandle: target\n      type: custom\n      zIndex:\
  \ 1002\n    - data:\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1766299441788'\n     \
  \   sourceType: tool\n        targetType: tool\n      id: 1766299884796--1766301012575-target\n      source: '1766299884796'\n\
  \      sourceHandle: source\n      target: '1766301012575'\n      targetHandle: target\n      type: custom\n      zIndex:\
  \ 1002\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: iteration\n        targetType:\
  \ template-transform\n      id: 1766299441788--1766301454703-target\n      source: '1766299441788'\n      sourceHandle:\
  \ source\n      target: '1766301454703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n\
  \        isInIteration: false\n        isInLoop: false\n        sourceType: template-transform\n        targetType: end\n\
  \      id: 1766301454703--1766301737749-target\n      source: '1766301454703'\n      sourceHandle: source\n      target:\
  \ '1766301737749'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n\
  \        sourceType: start\n        targetType: tool\n      id: 1766276740420-source-1766276809532-target\n      source:\
  \ '1766276740420'\n      sourceHandle: source\n      target: '1766276809532'\n      targetHandle: target\n      type: custom\n\
  \      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: start\n        targetType: knowledge-retrieval\n\
  \      id: 1766276740420-source-1766369565374-target\n      source: '1766276740420'\n      sourceHandle: source\n      target:\
  \ '1766369565374'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected:\
  \ false\n        title: ユーザー入力\n        type: start\n        variables:\n        - default: ''\n          hint: ''\n   \
  \       label: theme\n          max_length: 48\n          options: []\n          placeholder: ''\n          required: true\n\
  \          type: text-input\n          variable: theme\n        - default: ''\n          hint: ''\n          label: characters\n\
  \          max_length: 48\n          options: []\n          placeholder: ''\n          required: true\n          type: text-input\n\
  \          variable: characters\n        - default: ''\n          hint: ''\n          label: page_count\n          max_length:\
  \ 48\n          options: []\n          placeholder: ''\n          required: true\n          type: number\n          variable:\
  \ page_count\n      height: 161\n      id: '1766276740420'\n      position:\n        x: 12.626499572192984\n        y: 170.1706292308462\n\
  \      positionAbsolute:\n        x: 12.626499572192984\n        y: 170.1706292308462\n      selected: false\n      sourcePosition:\
  \ right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        is_team_authorization: true\n\
  \        paramSchemas:\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n\
  \            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n      \
  \      en_US: Educational Design\n            ja_JP: Educational Design\n            pt_BR: Educational Design\n       \
  \     zh_Hans: Educational Design\n          llm_description: ''\n          max: null\n          min: null\n          name:\
  \ educational_design\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n    \
  \        pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n\
  \          template: null\n          type: string\n        - auto_generate: null\n          default: takeru, kazusan\n \
  \         form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n\
  \            zh_Hans: ''\n          label:\n            en_US: Characters\n            ja_JP: Characters\n            pt_BR:\
  \ Characters\n            zh_Hans: Characters\n          llm_description: ''\n          max: null\n          min: null\n\
  \          name: characters\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n\
  \            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n\
  \          template: null\n          type: string\n        - auto_generate: null\n          default: 4\n          form:\
  \ llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans:\
  \ ''\n          label:\n            en_US: Page Count\n            ja_JP: Page Count\n            pt_BR: Page Count\n  \
  \          zh_Hans: Page Count\n          llm_description: ''\n          max: null\n          min: null\n          name:\
  \ page_count\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n            pt_BR:\
  \ ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n          template:\
  \ null\n          type: number\n        - auto_generate: null\n          default: null\n          form: llm\n          human_description:\n\
  \            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n      \
  \      en_US: Theme\n            ja_JP: Theme\n            pt_BR: Theme\n            zh_Hans: Theme\n          llm_description:\
  \ ''\n          max: null\n          min: null\n          name: theme\n          options: []\n          placeholder:\n \
  \           en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n\
  \          required: true\n          scope: null\n          template: null\n          type: string\n        params:\n  \
  \        characters: ''\n          educational_design: ''\n          page_count: ''\n          theme: ''\n        plugin_id:\
  \ null\n        plugin_unique_identifier: null\n        provider_icon:\n          background: '#FFEAD5'\n          content:\
  \ \uD83C\uDFA8\n        provider_id: c91c797c-39e3-4c83-8932-f6f604db3470\n        provider_name: Storyboard Designer\n\
  \        provider_type: workflow\n        selected: false\n        title: Storyboard Designer\n        tool_configurations:\
  \ {}\n        tool_description: Creates storyboard with character placement and page-level\n          narrative structure.\n\
  \        tool_label: Storyboard Designer\n        tool_name: storyboard_designer\n        tool_node_version: '2'\n     \
  \   tool_parameters:\n          characters:\n            type: mixed\n            value: takeru, kazusan\n          educational_design:\n\
  \            type: mixed\n            value: /\n          page_count:\n            type: constant\n            value: 4\n\
  \          theme:\n            type: mixed\n            value: '{{#1766276740420.theme#}}'\n        type: tool\n      height:\
  \ 52\n      id: '1766276809532'\n      position:\n        x: 341.5722523623011\n        y: 191.1706292308462\n      positionAbsolute:\n\
  \        x: 341.5722523623011\n        y: 191.1706292308462\n      selected: false\n      sourcePosition: right\n      targetPosition:\
  \ left\n      type: custom\n      width: 242\n    - data:\n        code: \"import json\\n\\nCHARACTER_IMAGES = {\\n    \\\
  \"takeru\\\": \\\"https://drive.google.com/uc?export=view&id=1PBP3aeoc_zYEIP93AnbMyLZ84iGuxc3T\\\"\\\n          ,\\n   \
  \ \\\"kazusan\\\": \\\"https://drive.google.com/uc?export=view&id=1aBahLtJpy0DnoKJ6f0ObQnTDMM5y-L4y\\\"\\\n          ,\\\
  n    \\\"ryusan\\\": \\\"https://drive.google.com/uc?export=view&id=1umU2L6J0wJdoVd2fHmjMUP4cMJP4HgGV\\\"\\\n          ,\\\
  n    \\\"shochou\\\": \\\"https://drive.google.com/uc?export=view&id=1VdRytA2MTc5WiYyvPOiJ9iGFnwxQARXu\\\"\\\n         \
  \ \\n}\\n\\ndef main(arg1: str, arg2: str) -> dict:\\n    try:\\n        # Step\\\n          \\ 1: Parse the outer JSON\\\
  n        data = json.loads(arg1)\\n\\n        #\\\n          \\ Step 2: Get storyboard (which is also a JSON string)\\n\
  \        storyboard_str\\\n          \\ = data.get(\\\"storyboard\\\", \\\"{}\\\")\\n\\n        # Step 3: Parse the storyboard\\\
  \n          \\ JSON string\\n        if isinstance(storyboard_str, str):\\n           \\\n          \\ storyboard = json.loads(storyboard_str)\\\
  n        else:\\n            storyboard\\\n          \\ = storyboard_str\\n\\n        # Step 4: Get pages array\\n     \
  \   pages =\\\n          \\ storyboard.get(\\\"pages\\\", [])\\n\\n    except (json.JSONDecodeError, TypeError,\\\n    \
  \      \\ AttributeError) as e:\\n        pages = []\\n\\n    return {\\n        \\\"\\\n          pages\\\": pages,\\n\
  \        \\\"character_image_map\\\": CHARACTER_IMAGES\\n   \\\n          \\ }\"\n        code_language: python3\n     \
  \   outputs:\n          character_image_map:\n            children: null\n            type: object\n          pages:\n \
  \           children: null\n            type: array[object]\n        selected: true\n        title: 足場の安全点検の重要性\n      \
  \  type: code\n        variables:\n        - value_selector:\n          - '1766276809532'\n          - text\n          value_type:\
  \ string\n          variable: arg1\n        - value_selector:\n          - '1766276740420'\n          - theme\n        \
  \  value_type: string\n          variable: arg2\n      height: 52\n      id: '1766293340794'\n      position:\n        x:\
  \ 657.6302117971645\n        y: 191.1706292308462\n      positionAbsolute:\n        x: 657.6302117971645\n        y: 191.1706292308462\n\
  \      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n\
  \    - data:\n        error_handle_mode: terminated\n        flatten_output: true\n        is_parallel: false\n        iterator_input_type:\
  \ array[object]\n        iterator_selector:\n        - '1766293340794'\n        - pages\n        output_selector:\n    \
  \    - '1766301012575'\n        - text\n        output_type: array[string]\n        parallel_nums: 10\n        selected:\
  \ false\n        start_node_id: 1766299441788start\n        title: イテレーション\n        type: iteration\n        width: 688\n\
  \      height: 146\n      id: '1766299441788'\n      position:\n        x: 341.5722523623011\n        y: 371.17347089673217\n\
  \      positionAbsolute:\n        x: 341.5722523623011\n        y: 371.17347089673217\n      selected: true\n      sourcePosition:\
  \ right\n      targetPosition: left\n      type: custom\n      width: 688\n      zIndex: 1\n    - data:\n        desc: ''\n\
  \        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable:\
  \ false\n      height: 48\n      id: 1766299441788start\n      parentId: '1766299441788'\n      position:\n        x: 24\n\
  \        y: 68\n      positionAbsolute:\n        x: 365.5722523623011\n        y: 439.17347089673217\n      selectable:\
  \ false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n\
  \      zIndex: 1002\n    - data:\n        isInIteration: true\n        isInLoop: false\n        is_team_authorization: true\n\
  \        iteration_id: '1766299441788'\n        paramSchemas:\n        - auto_generate: null\n          default: null\n\
  \          form: llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n\
  \            zh_Hans: ''\n          label:\n            en_US: Page Data\n            ja_JP: Page Data\n            pt_BR:\
  \ Page Data\n            zh_Hans: Page Data\n          llm_description: ''\n          max: null\n          min: null\n \
  \         name: page_data\n          options: []\n          placeholder:\n            en_US: ''\n            ja_JP: ''\n\
  \            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n          required: true\n          scope: null\n\
  \          template: null\n          type: string\n        - auto_generate: null\n          default: ''\n          form:\
  \ llm\n          human_description:\n            en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans:\
  \ ''\n          label:\n            en_US: Character Definitions\n            ja_JP: Character Definitions\n           \
  \ pt_BR: Character Definitions\n            zh_Hans: Character Definitions\n          llm_description: ''\n          max:\
  \ null\n          min: null\n          name: character_definitions\n          options: []\n          placeholder:\n    \
  \        en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n \
  \         required: false\n          scope: null\n          template: null\n          type: string\n        params:\n  \
  \        character_definitions: ''\n          page_data: ''\n        plugin_id: null\n        plugin_unique_identifier:\
  \ null\n        provider_icon:\n          background: '#D1FAE5'\n          content: \uD83D\uDDBC\n        provider_id: 77877f40-fd7f-46ae-95ec-2531277723a4\n\
  \        provider_name: Panel Designer\n        provider_type: workflow\n        selected: false\n        title: Panel Designer\n\
  \        tool_configurations: {}\n        tool_description: Designs detailed panel composition for a single manga page.\n\
  \        tool_label: Panel Designer\n        tool_name: panel_designer\n        tool_node_version: '2'\n        tool_parameters:\n\
  \          character_definitions:\n            type: mixed\n            value: 'takeru: 新人作業員, kazusan: ベテラン職人'\n      \
  \    page_data:\n            type: mixed\n            value: '{{#1766299441788.item#}}'\n        type: tool\n      height:\
  \ 52\n      id: '1766299884796'\n      parentId: '1766299441788'\n      position:\n        x: 128\n        y: 68\n     \
  \ positionAbsolute:\n        x: 469.5722523623011\n        y: 439.17347089673217\n      sourcePosition: right\n      targetPosition:\
  \ left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        isInLoop:\
  \ false\n        is_team_authorization: true\n        iteration_id: '1766299441788'\n        paramSchemas:\n        - auto_generate:\
  \ null\n          default: null\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP:\
  \ ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Panel Design\n            ja_JP:\
  \ Panel Design\n            pt_BR: Panel Design\n            zh_Hans: Panel Design\n          llm_description: ''\n    \
  \      max: null\n          min: null\n          name: panel_design\n          options: []\n          placeholder:\n   \
  \         en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n\
  \          required: true\n          scope: null\n          template: null\n          type: string\n        - auto_generate:\
  \ null\n          default: 1\n          form: llm\n          human_description:\n            en_US: ''\n            ja_JP:\
  \ ''\n            pt_BR: ''\n            zh_Hans: ''\n          label:\n            en_US: Page Number\n            ja_JP:\
  \ Page Number\n            pt_BR: Page Number\n            zh_Hans: Page Number\n          llm_description: ''\n       \
  \   max: null\n          min: null\n          name: page_number\n          options: []\n          placeholder:\n       \
  \     en_US: ''\n            ja_JP: ''\n            pt_BR: ''\n            zh_Hans: ''\n          precision: null\n    \
  \      required: true\n          scope: null\n          template: null\n          type: number\n        params:\n      \
  \    page_number: ''\n          panel_design: ''\n        plugin_id: null\n        plugin_unique_identifier: null\n    \
  \    provider_icon:\n          background: '#FEF3C7'\n          content: \uD83D\uDCC4\n        provider_id: 57d0b071-5499-44d8-92c4-bcc9d655de77\n\
  \        provider_name: YAML Generator\n        provider_type: workflow\n        selected: false\n        title: YAML Generator\n\
  \        tool_configurations: {}\n        tool_description: Generates Nano Banana Pro compatible YAML prompt for manga\n\
  \          page generation.\n        tool_label: YAML Generator\n        tool_name: yaml_generator\n        tool_node_version:\
  \ '2'\n        tool_parameters:\n          page_number:\n            type: variable\n            value:\n            - '1766299441788'\n\
  \            - index\n          panel_design:\n            type: mixed\n            value: '{{#1766299884796.text#}}'\n\
  \        type: tool\n      height: 52\n      id: '1766301012575'\n      parentId: '1766299441788'\n      position:\n   \
  \     x: 430\n        y: 68\n      positionAbsolute:\n        x: 771.5722523623011\n        y: 439.17347089673217\n    \
  \  selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    \
  \  zIndex: 1002\n    - data:\n        selected: false\n        template: \"{% for yaml in arg1 %}\\r\\n{{ yaml }}\\r\\n---\\\
  r\\n{% endfor %}}\"\n        title: テンプレート\n        type: template-transform\n        variables:\n        - value_selector:\n\
  \          - '1766299441788'\n          - output\n          value_type: array[string]\n          variable: arg1\n      height:\
  \ 52\n      id: '1766301454703'\n      position:\n        x: 1092.8225659985067\n        y: 371.17347089673217\n      positionAbsolute:\n\
  \        x: 1092.8225659985067\n        y: 371.17347089673217\n      selected: false\n      sourcePosition: right\n    \
  \  targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        outputs:\n        - value_selector:\n\
  \          - '1766301454703'\n          - output\n          value_type: string\n          variable: yaml_output\n      \
  \  selected: false\n        title: 出力\n        type: end\n      height: 88\n      id: '1766301737749'\n      position:\n\
  \        x: 1388.0306202455363\n        y: 371.17347089673217\n      positionAbsolute:\n        x: 1388.0306202455363\n\
  \        y: 371.17347089673217\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type:\
  \ custom\n      width: 242\n    - data:\n        dataset_ids:\n        - KhqY3/pLuw/5nCFaUyaWHQLsDo0HI3WqaDHLOvaKW397RixQ8W78g/YdA3GtgS8K\n\
  \        multiple_retrieval_config:\n          reranking_enable: false\n          reranking_mode: weighted_score\n     \
  \     top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n\
  \              embedding_model_name: text-embedding-3-large\n              embedding_provider_name: langgenius/openai/openai\n\
  \              vector_weight: 1\n            weight_type: customized\n        query_attachment_selector: []\n        query_variable_selector:\n\
  \        - '1766276740420'\n        - theme\n        retrieval_mode: multiple\n        selected: false\n        title: 知識検索\n\
  \        type: knowledge-retrieval\n      height: 90\n      id: '1766369565374'\n      position:\n        x: 341.5722523623011\n\
  \        y: 63.490414500278945\n      positionAbsolute:\n        x: 341.5722523623011\n        y: 63.490414500278945\n \
  \     selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n \
  \   viewport:\n      x: 176.42774763769887\n      y: 74.57652910326783\n      zoom: 1\n  rag_pipeline_variables: []\n"
