dsl/exported/Storyboard Designer_7d712e91.yml
data: "app:\n  description: Creates storyboard with character placement and page-level narrative\n    structure.\n  icon:\
  \ \uD83E\uDD16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: Storyboard Designer\n  use_icon_as_answer_icon:\
  \ false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier:\
  \ langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n    version: null\nkind: app\n\
  version: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n  \
  \    allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n  \
  \    allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n  \
  \    enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit:\
  \ 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n\
  \        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n    \
  \    number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n \
  \   opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n\
  \    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled:\
  \ false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n\
  \        isInIteration: false\n        isInLoop: false\n        sourceType: start\n        targetType: knowledge-retrieval\n\
  \      id: 1735300100001-source-1766449561674-target\n      source: '1735300100001'\n      sourceHandle: source\n      target:\
  \ '1766449561674'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n\
  \        sourceType: knowledge-retrieval\n        targetType: llm\n      id: 1766449561674-source-1735300100002-target\n\
  \      source: '1766449561674'\n      sourceHandle: source\n      target: '1735300100002'\n      targetHandle: target\n\
  \      type: custom\n      zIndex: 0\n    - data:\n        isInLoop: false\n        sourceType: llm\n        targetType:\
  \ end\n      id: 1735300100002-source-1735300100003-target\n      source: '1735300100002'\n      sourceHandle: source\n\
  \      target: '1735300100003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n\
  \        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label:\
  \ Educational Design\n          max_length: 5000\n          options: []\n          required: true\n          type: paragraph\n\
  \          variable: educational_design\n        - default: takeru, kazusan\n          label: Characters\n          max_length:\
  \ 200\n          options: []\n          required: true\n          type: text-input\n          variable: characters\n   \
  \     - default: 4\n          label: Page Count\n          options: []\n          required: true\n          type: number\n\
  \          variable: page_count\n        - label: Theme\n          max_length: 500\n          options: []\n          required:\
  \ true\n          type: text-input\n          variable: theme\n        - default: ''\n          hint: ''\n          label:\
  \ Book Filter\n          max_length: 48\n          options: []\n          placeholder: ''\n          required: false\n \
  \         type: text-input\n          variable: book_filter\n      height: 213\n      id: '1735300100001'\n      position:\n\
  \        x: -117.92618661593406\n        y: 112.57518425676045\n      positionAbsolute:\n        x: -117.92618661593406\n\
  \        y: 112.57518425676045\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type:\
  \ custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n     \
  \     - '1766449561674'\n          - result\n        desc: ''\n        model:\n          completion_params:\n          \
  \  temperature: 0.8\n          mode: chat\n          name: gpt-4o\n          provider: langgenius/openai/openai\n      \
  \  prompt_template:\n        - id: b1b2c3d4-sb01-0001-0001-000000000001\n          role: system\n          text: \"You are\
  \ a storyboard designer for educational manga.\\n\\n\\n\\n## Characters\\n\\\n            - takeru: 22yo male rookie, blue\
  \ helmet, enthusiastic, catchphrase \\\"\\\n            I'll try!\\\"\\n- kazusan: 32yo female mentor, white helmet, caring,\
  \ catchphrase\\\n            \\ \\\"The key point is...\\\"\\n- ryusan: 55yo male veteran, yellow helmet,\\\n          \
  \  \\ strict, catchphrase \\\"Watch and learn\\\"\\n- shochou: 50yo male supervisor,\\\n            \\ white helmet, authoritative,\
  \ catchphrase \\\"Safety first\\\"\\n\\n## Output\\\n            \\ Format (JSON)\\nOutput ONLY valid JSON:\\n{\\n  \\\"\
  pages\\\": [\\n    {\\n \\\n            \\     \\\"page_number\\\": 1,\\n      \\\"story_arc\\\": \\\"ki\\\",\\n      \\\
  \"title\\\"\\\n            : \\\"page title in Japanese\\\",\\n      \\\"summary\\\": \\\"what happens on this\\\n     \
  \       \\ page\\\",\\n      \\\"characters_used\\\": [\\\"takeru\\\", \\\"kazusan\\\"],\\n   \\\n            \\   \\\"\
  location\\\": \\\"scene location\\\",\\n      \\\"time_of_day\\\": \\\"morning\\\"\\\n            ,\\n      \\\"panel_count\\\
  \": 4,\\n      \\\"key_dialogues\\\": [\\n        {\\\"\\\n            speaker\\\": \\\"takeru\\\", \\\"text\\\": \\\"Japanese\
  \ dialogue\\\"}\\n      ]\\n   \\\n            \\ }\\n  ]\\n}\\n\\nDialogues must be in Japanese.\\n{{#context#}}\"\n  \
  \      - id: b1b2c3d4-sb01-0001-0001-000000000002\n          role: user\n          text: 'Theme: {{#1735300100001.theme#}}\n\
  \n            Characters to use: {{#1735300100001.characters#}}\n\n            Page Count: {{#1735300100001.page_count#}}\n\
  \n\n            Educational Design:\n\n            {{#1735300100001.educational_design#}}\n\n\n            Create a storyboard\
  \ for all {{#1735300100001.page_count#}} pages.\n\n            Output ONLY valid JSON, no markdown code blocks.\n\n    \
  \        '\n        selected: false\n        title: 'LLM: Storyboard Designer'\n        type: llm\n        variables: []\n\
  \        vision:\n          enabled: false\n      height: 88\n      id: '1735300100002'\n      position:\n        x: 447.3363797170989\n\
  \        y: 133.57518425676045\n      positionAbsolute:\n        x: 447.3363797170989\n        y: 133.57518425676045\n \
  \     selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n \
  \   - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1735300100002'\n          - text\n\
  \          variable: storyboard\n        selected: false\n        title: End\n        type: end\n      height: 88\n    \
  \  id: '1735300100003'\n      position:\n        x: 732.3354658019693\n        y: 133.57518425676045\n      positionAbsolute:\n\
  \        x: 732.3354658019693\n        y: 133.57518425676045\n      selected: true\n      sourcePosition: right\n      targetPosition:\
  \ left\n      type: custom\n      width: 242\n    - data:\n        dataset_ids:\n        - KhqY3/pLuw/5nCFaUyaWHQLsDo0HI3WqaDHLOvaKW397RixQ8W78g/YdA3GtgS8K\n\
  \        metadata_filtering_mode: manual\n        multiple_retrieval_config:\n          reranking_enable: false\n      \
  \    reranking_mode: weighted_score\n          top_k: 4\n          weights:\n            keyword_setting:\n            \
  \  keyword_weight: 0\n            vector_setting:\n              embedding_model_name: text-embedding-3-large\n        \
  \      embedding_provider_name: langgenius/openai/openai\n              vector_weight: 1\n            weight_type: customized\n\
  \        query_attachment_selector: []\n        query_variable_selector:\n        - '1735300100001'\n        - theme\n \
  \       retrieval_mode: multiple\n        selected: false\n        title: 知識検索 2\n        type: knowledge-retrieval\n  \
  \    height: 90\n      id: '1766449561674'\n      position:\n        x: 170.60918066980753\n        y: 133.57518425676045\n\
  \      positionAbsolute:\n        x: 170.60918066980753\n        y: 133.57518425676045\n      selected: false\n      sourcePosition:\
  \ right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: 197.38589993084094\n\
  \      y: 157.68411516688695\n      zoom: 0.6315485693793327\n  rag_pipeline_variables: []\n"
