dsl/exported/工事成績評定分析システム_d774f675.yml
data: "app:\n  description: 工事成績評定通知書のデータを分析してレポートを生成\n  icon: \uD83E\uDD16\n  icon_background: '#E4FBCC'\n  mode: workflow\n\
  \  name: 工事成績評定分析システム\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n\
  \  value:\n    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n\
  \    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables:\n  - description:\
  \ ''\n    id: 35dfbb56-ef1b-49f2-8757-9a0a8d09e0eb\n    name: gas_webapp_url\n    selector:\n    - env\n    - gas_webapp_url\n\
  \    value: ''\n    value_type: secret\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n  \
  \    - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n\
  \      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n\
  \        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit:\
  \ 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit:\
  \ 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n\
  \        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n\
  \    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\
  \ []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language:\
  \ ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: start\n    \
  \    targetType: http-request\n      id: start-to-http\n      source: '1000000001'\n      sourceHandle: source\n      target:\
  \ '1000000002'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n\
  \        sourceType: http-request\n        targetType: llm\n      id: http-to-llm\n      source: '1000000002'\n      sourceHandle:\
  \ source\n      target: '1000000003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n   \
  \     isInIteration: false\n        sourceType: llm\n        targetType: end\n      id: llm-to-end\n      source: '1000000003'\n\
  \      sourceHandle: source\n      target: '1000000004'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n\
  \    nodes:\n    - data:\n        desc: 分析タイプと重点カテゴリを入力\n        selected: true\n        title: 開始\n        type: start\n\
  \        variables:\n        - default: summary\n          label: 分析タイプ\n          max_length: 100\n          options:\n\
  \          - summary\n          - detail\n          - improvement\n          required: true\n          type: select\n  \
  \        variable: analysis_type\n        - label: 重点カテゴリ\n          max_length: 100\n          options: []\n          required:\
  \ false\n          type: text-input\n          variable: focus_category\n      height: 162\n      id: '1000000001'\n   \
  \   position:\n        x: 46\n        y: 309.99999999999994\n      positionAbsolute:\n        x: 46\n        y: 309.99999999999994\n\
  \      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n\
  \    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data:\n\
  \          - type: text\n            value: ''\n          type: none\n        desc: GAS Web Appから工事評定データを取得\n        headers:\
  \ ''\n        method: get\n        params: mode:all\n        retry_config:\n          max_retries: 3\n          retry_enabled:\
  \ true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          connect:\
  \ 60\n          read: 60\n          write: 60\n        title: 工事評定データ取得\n        type: http-request\n        url: '{{#env.gas_webapp_url#}}'\n\
  \        variables: []\n      height: 152\n      id: '1000000002'\n      position:\n        x: 372.0000000000001\n     \
  \   y: 247.99999999999994\n      positionAbsolute:\n        x: 372.0000000000001\n        y: 247.99999999999994\n      selected:\
  \ false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n  \
  \      context:\n          enabled: false\n          variable_selector: []\n        desc: 工事成績評定データを分析してレポート生成\n       \
  \ model:\n          completion_params: {}\n          mode: chat\n          name: gpt-5\n          provider: langgenius/openai/openai\n\
  \        prompt_template:\n        - id: sys-prompt-001\n          role: system\n          text: 'あなたは建設業の工事成績評定の専門家です。\n\
  \n            工事成績評定通知書のデータを分析し、詳細なレポートを作成してください。\n\n\n            ## 評価項目の構成\n\n            - 1. 施工体制（施工体制一般、配置技術者）\n\n\
  \            - 2. 施工状況（施工管理、工程管理、安全対策、対外関係）\n\n            - 3. 出来形・品質・出来ばえ（出来形、品質、出来ばえ）\n\n            - 4. 工事特性（加点項目）\n\
  \n            - 5. 創意工夫（加点項目）\n\n            - 6. 社会性等（加点項目）\n\n            - 7. 法令遵守等（減点項目）\n\n\n            ## 分析の観点\n\
  \n            - 達成率が高い項目（強み）と低い項目（改善点）を特定\n\n            - 工事間での傾向の違いを分析\n\n            - 加点項目の獲得状況を評価\n\n            -\
  \ 具体的な改善提案を提示\n\n\n            ## 出力形式\n\n            Markdown形式で、以下の構成でレポートを作成:\n\n            1. エグゼクティブサマリー\n\n     \
  \       2. 全体評価\n\n            3. カテゴリ別分析\n\n            4. 強み・弱み分析\n\n            5. 改善提案\n\n            6. 次回工事への推奨事項\n\
  \n            '\n        - id: user-prompt-001\n          role: user\n          text: '以下の工事成績評定データを分析してください。\n\n\n    \
  \        分析タイプ: {{#1000000001.analysis_type#}}\n\n            重点カテゴリ: {{#1000000001.focus_category#}}\n\n\n            データ:\n\
  \n            {{#1000000002.body#}}\n\n            '\n        selected: false\n        title: 工事評定分析\n        type: llm\n\
  \        variables: []\n        vision:\n          enabled: false\n      height: 115\n      id: '1000000003'\n      position:\n\
  \        x: 684\n        y: 356.99999999999994\n      positionAbsolute:\n        x: 684\n        y: 356.99999999999994\n\
  \      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n\
  \    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1000000003'\n          - text\n\
  \          variable: analysis_report\n        selected: false\n        title: 終了\n        type: end\n      height: 88\n\
  \      id: '1000000004'\n      position:\n        x: 977\n        y: 234\n      positionAbsolute:\n        x: 977\n    \
  \    y: 234\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width:\
  \ 242\n    viewport:\n      x: -285.48292972658874\n      y: 21.135596283966606\n      zoom: 1.0000000000000007\n  rag_pipeline_variables:\
  \ []\n"
