dsl/generated/manga/manga_quality_checker.yml
# Manga Quality Checker DSL v1.1
# Validates manga YAML output against 6 quality categories
# Compatible with Dify Cloud (version 0.1.2)
#
# Workflow: Start -> Code(Validate) -> LLM(Consistency) -> Code(Score) -> Template -> End

app:
  description: "Validates manga YAML output. Checks structure, character consistency, learning goals, emphasis balance, and calculates quality score."
  icon: "\u2714"
  icon_background: '#E4FBCC'
  mode: workflow
  name: "Manga Quality Checker"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''

  graph:
    edges:
    # Start -> Code Validate
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 2000000001-source-2000000002-target
      source: '2000000001'
      sourceHandle: source
      target: '2000000002'
      targetHandle: target
      type: custom
      zIndex: 0

    # Code Validate -> LLM Consistency
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 2000000002-source-2000000003-target
      source: '2000000002'
      sourceHandle: source
      target: '2000000003'
      targetHandle: target
      type: custom
      zIndex: 0

    # LLM Consistency -> Code Score
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 2000000003-source-2000000004-target
      source: '2000000003'
      sourceHandle: source
      target: '2000000004'
      targetHandle: target
      type: custom
      zIndex: 0

    # Code Score -> Template
    - data:
        isInIteration: false
        sourceType: code
        targetType: template-transform
      id: 2000000004-source-2000000005-target
      source: '2000000004'
      sourceHandle: source
      target: '2000000005'
      targetHandle: target
      type: custom
      zIndex: 0

    # Template -> End
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 2000000005-source-2000000006-target
      source: '2000000005'
      sourceHandle: source
      target: '2000000006'
      targetHandle: target
      type: custom
      zIndex: 0

    nodes:
    # [1] START NODE
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: YAML Content
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: yaml_content
        - label: Story Design (JSON)
          max_length: null
          options: []
          required: false
          type: paragraph
          variable: story_design
      height: 135
      id: '2000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # [2] CODE NODE - YAML Structure Validation
    - data:
        code: "import re\nimport json\n\ndef main(yaml_content: str) -> dict:\n    issues = []\n    warnings = []\n    info = []\n\n    required_sections = [\n        \"project:\",\n        \"art_style:\",\n        \"characters:\",\n        \"panel_layout:\",\n        \"setting:\",\n        \"story_overview:\",\n        \"this_page:\",\n        \"prompt_natural_language:\"\n    ]\n\n    for section in required_sections:\n        if section not in yaml_content:\n            issues.append(f\"Missing: {section}\")\n\n    dialogue_pattern = r'line:\\s*[\"\\']?(.+?)[\"\\']?\\s*$'\n    lines = re.findall(dialogue_pattern, yaml_content, re.MULTILINE)\n    for line in lines:\n        if len(line) > 40:\n            warnings.append(f\"Long dialogue: {line[:20]}...\")\n\n    panel_matches = re.findall(r'panel_number:\\s*(\\d+)', yaml_content)\n    if panel_matches:\n        max_panel = max(int(p) for p in panel_matches)\n        if max_panel < 4:\n            issues.append(f\"Too few panels: {max_panel}\")\n        else:\n            info.append(f\"Panels: {max_panel}\")\n\n    if \"trace\" in yaml_content.lower():\n        info.append(\"Image trace found\")\n    else:\n        warnings.append(\"No TRACE instruction\")\n\n    emphasis_pattern = r'emphasis_point:\\s*[\"\\']?(opening|turning|conclusion|dual|even)[\"\\']?'\n    emphasis_matches = re.findall(emphasis_pattern, yaml_content)\n    if emphasis_matches:\n        info.append(f\"emphasis: {emphasis_matches[0]}\")\n    else:\n        warnings.append(\"No emphasis_point\")\n\n    return {\n        \"issues\": issues,\n        \"warnings\": warnings,\n        \"info\": info,\n        \"issue_count\": len(issues),\n        \"warning_count\": len(warnings)\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          issues:
            children: null
            type: array[string]
          warnings:
            children: null
            type: array[string]
          info:
            children: null
            type: array[string]
          issue_count:
            children: null
            type: number
          warning_count:
            children: null
            type: number
        selected: false
        title: Structure Check
        type: code
        variables:
        - value_selector:
          - '2000000001'
          - yaml_content
          variable: yaml_content
      height: 98
      id: '2000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # [3] LLM NODE - Consistency Check
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: sys-check-001
          role: system
          text: |
            You are a QA expert for educational manga. Analyze:
            1. Character consistency
            2. Learning goal alignment
            3. Story coherence
            4. Panel continuity

            Output JSON only:
            {"character_consistency":{"score":0-100},"learning_alignment":{"score":0-100},"story_coherence":{"score":0-100},"panel_continuity":{"score":0-100},"overall":"..."}
        - id: user-check-001
          role: user
          text: |
            YAML:
            {{#2000000001.yaml_content#}}

            Story Design:
            {{#2000000001.story_design#}}

            Analyze and output JSON.
        selected: false
        title: Consistency Check
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '2000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # [4] CODE NODE - Score Calculation
    - data:
        code: "import json\n\ndef main(issue_count: int, warning_count: int, consistency_text: str) -> dict:\n    try:\n        c = json.loads(consistency_text)\n    except:\n        start = consistency_text.find('{')\n        end = consistency_text.rfind('}') + 1\n        if start >= 0 and end > start:\n            c = json.loads(consistency_text[start:end])\n        else:\n            c = {\"character_consistency\":{\"score\":70},\"learning_alignment\":{\"score\":70},\"story_coherence\":{\"score\":70},\"panel_continuity\":{\"score\":70}}\n\n    structure_score = max(0, 100 - issue_count * 20 - warning_count * 5)\n\n    char_score = c.get(\"character_consistency\", {}).get(\"score\", 70)\n    learn_score = c.get(\"learning_alignment\", {}).get(\"score\", 70)\n    story_score = c.get(\"story_coherence\", {}).get(\"score\", 70)\n    panel_score = c.get(\"panel_continuity\", {}).get(\"score\", 70)\n\n    consistency_avg = (char_score + learn_score + story_score + panel_score) / 4\n    final_score = int(structure_score * 0.4 + consistency_avg * 0.6)\n    passed = final_score >= 70\n\n    if final_score >= 90:\n        grade = \"A\"\n    elif final_score >= 80:\n        grade = \"B\"\n    elif final_score >= 70:\n        grade = \"C\"\n    elif final_score >= 60:\n        grade = \"D\"\n    else:\n        grade = \"F\"\n\n    return {\n        \"final_score\": final_score,\n        \"passed\": passed,\n        \"grade\": grade,\n        \"structure_score\": structure_score,\n        \"consistency_avg\": round(consistency_avg, 1)\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          final_score:
            children: null
            type: number
          passed:
            children: null
            type: string
          grade:
            children: null
            type: string
          structure_score:
            children: null
            type: number
          consistency_avg:
            children: null
            type: number
        selected: false
        title: Score Calculation
        type: code
        variables:
        - value_selector:
          - '2000000002'
          - issue_count
          variable: issue_count
        - value_selector:
          - '2000000002'
          - warning_count
          variable: warning_count
        - value_selector:
          - '2000000003'
          - text
          variable: consistency_text
      height: 98
      id: '2000000004'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # [5] TEMPLATE TRANSFORM NODE
    - data:
        desc: ''
        selected: false
        template: |
          # Quality Report
          Score: {{ final_score }}/100 ({{ grade }})
          Status: {{ passed }}
          Structure: {{ structure_score }}
          Consistency: {{ consistency_avg }}
        title: Report
        type: template-transform
        variables:
        - value_selector:
          - '2000000004'
          - final_score
          variable: final_score
        - value_selector:
          - '2000000004'
          - grade
          variable: grade
        - value_selector:
          - '2000000004'
          - passed
          variable: passed
        - value_selector:
          - '2000000004'
          - structure_score
          variable: structure_score
        - value_selector:
          - '2000000004'
          - consistency_avg
          variable: consistency_avg
      height: 82
      id: '2000000005'
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # [6] END NODE
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '2000000005'
          - output
          variable: quality_report
        - value_selector:
          - '2000000004'
          - final_score
          variable: quality_score
        - value_selector:
          - '2000000004'
          - passed
          variable: passed
        selected: false
        title: End
        type: end
      height: 90
      id: '2000000006'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    viewport:
      x: 0
      y: 0
      zoom: 1
